<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<div>
  <a href="/">Home</a>
  <a href="/add-new-book">New Book</a>
</div>
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
