

<h2>Add New Book</h2>

<form action="/create-the-book" method="POST">




<p>Title</p>
<input type="text" name="theNewBookTitle">




<p>Author</p>
<select name="theAuthorForNewBook" id="">

    {{#each allAuthors}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}


</select>



<p>Image URL</p>
<input type="text" name="img">




    <button>Save!</button>
</form>