<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    {{!-- put your navbar here it will show up on every page --}}

    {{{body}}}
    {{!-- this body thing is like your router in App Component --}}
    {{!-- this is the part of the page that will change depending on which route you go to --}}
    {{!-- everything above/below {{{body}}} will exist on all pages--}}


    {{!-- put your footer here for every page --}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
